{
  "name": "{{.name}}",
  "version": "{{.version}}",
  "description": "{{.description}}",
  "author": "{{.author}}",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "asc assembly/index.ts -o build/{{.name}}.wasm --use abort=assembly/index/abort --optimize"
  },
  "license": "ISC",
  "dependencies": {
    "@wapc/as-guest": "^v0.3.1",
    "@wapc/as-msgpack": "^0.1.14"
  },
  "devDependencies": {
    "assemblyscript": "^0.20.13"
  }
}
